.main-container{
    height: 100vh;
}

.trans{
    background-color: transparent;
}

.spacebetween-center{
    justify-content: space-between;
    align-items: center;
}


element.style {
    width: 360px;
    height: 270px;
}


