.border-b{
    border-bottom: solid #0000009c;
}
.blue{
    background-color: #009de0;
    color: white;
}
.text-color-blackish{
color: #2d2d2d;
}
mat-toolbar{
    height: 50px;
    gap: 25%;
}
.white-bg{
    background-color: white;
}
.height-418px{
    height: 418px
}
.btn-bl{
    color: white !important;
 background-color:#009de0 !important;
 margin-top: 12px;
}
 .width-90{
        width: 90%;
    }
.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}